Repository roeap/object-store-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: just, rustfmt

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

rustfmt:
  name: Rust Format
  language: system
  entry: bash -c "cargo +stable fmt --all -- --check"

build(deps): update dependencies
  .pre-commit-config.yaml
  Cargo.lock
  object-store/Cargo.toml
  poetry.lock
  pyproject.toml
Due: none

chore: update object store
  Cargo.lock
  Cargo.toml
  README.md
Due: none

build(release): prepare v0.1.2
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: remove deprecated annotations
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
  object-store/src/file.rs
  object-store/src/lib.rs
Due: rustfmt

chore: update object_store dependency
  Cargo.lock
  Cargo.toml
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

chore: bump object store vwersion
  Cargo.lock
  Cargo.toml
  object-store/Cargo.toml
Due: none

build: bump version
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

fix: type annotations
  Cargo.lock
  object-store/Cargo.toml
  object-store/object_store/arrow.py
  object-store/pyproject.toml
  pyproject.toml
Due: none

chore: bump version
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
Due: none

fix: make typing compatible with 3.8
  object-store/object_store/__init__.py
  object-store/object_store/arrow.py
Due: none

fix: type annotation
  object-store/object_store/__init__.py
Due: none

chore: update dependencies
  Cargo.lock
  object-store/Cargo.toml
  object-store/src/builder.rs
  poetry.lock
  pyproject.toml
Due: rustfmt

feat: allow passing http client options
  examples/object_store.ipynb
  object-store/object_store/__init__.py
  object-store/object_store/_internal.pyi
  object-store/src/file.rs
  object-store/src/lib.rs
  poetry.lock
Due: rustfmt

fix: clippy
  object-store/src/lib.rs
Due: rustfmt

Separate into internal object-store crate
  Cargo.lock
  Cargo.toml
  object-store-internal/Cargo.toml
  object-store-internal/src/builder.rs
  object-store-internal/src/file.rs
  object-store-internal/src/lib.rs
  object-store-internal/src/utils.rs
  object-store/Cargo.toml
  object-store/src/lib.rs
Due: rustfmt

remove pyo3 features for underlying code
  object-store-internal/Cargo.toml
Due: none

Update versions
  Cargo.lock
  object-store/Cargo.toml
  object-store/pyproject.toml
  object-store/src/builder.rs
  object-store/src/file.rs
  object-store/src/utils.rs
Due: rustfmt

Move files into python/ folder and update python deps
  Cargo.toml
  object-store/python/object_store/__init__.py
  object-store/python/object_store/_internal.pyi
  object-store/python/object_store/arrow.py
  object-store/python/object_store/py.typed
  poetry.lock
  pyproject.toml
Due: none

chore: ruff fixes
  .pre-commit-config.yaml
  README.md
  object-store/tests/test_object_store.py
  pyproject.toml
Due: none

chore: run tests in poetry
  justfile
Due: just

chore: poetry run in serve
  justfile
Due: just

chore: fix ArrowFileSystemHandler import
  docs/reference.md
Due: none

feat: Async support
  Cargo.lock
  object-store/Cargo.toml
  object-store/python/object_store/_internal.pyi
  object-store/src/lib.rs
Due: rustfmt

fix: Fix Bytes output for returned get
  README.md
  object-store/src/lib.rs
  object-store/src/utils.rs
Due: rustfmt

feat: Add get_opts and get_ranges
  object-store/python/object_store/_internal.pyi
  object-store/src/lib.rs
Due: rustfmt

Update object-store/src/lib.rs
  object-store/src/lib.rs
Due: rustfmt

fix: fix visibility
  object-store-internal/src/lib.rs
Due: rustfmt

Expose internal DynObjectStore
  object-store-internal/src/lib.rs
Due: rustfmt

wip: add put_opts & put_multipart
  object-store/python/object_store/__init__.py
  object-store/python/object_store/_internal.pyi
Due: none

Allow threads
  object-store-internal/src/lib.rs
  object-store/pyproject.toml
  poetry.lock
Due: rustfmt

Revert changes
  object-store/pyproject.toml
  poetry.lock
Due: none

Async object store support (#6)
  Cargo.lock
  README.md
  object-store-internal/Cargo.toml
  object-store-internal/src/lib.rs
  object-store-internal/src/utils.rs
  object-store/python/object_store/_internal.pyi
Due: rustfmt

Expose internal DynObjectStore (#11)
  object-store-internal/src/lib.rs
Due: rustfmt

dep(Bump): Bump object store crate
  object-store-internal/Cargo.toml
  object-store-internal/src/file.rs
Due: rustfmt

feat(root): Root should be public
  .mise.toml
  Cargo.lock
  object-store-internal/src/lib.rs
  poetry.lock
Due: rustfmt

bump maturin <2.0
  object-store/pyproject.toml
Due: none

test: asd
  README.md
Due: none

Path conditions:
  just: any of: ^justfile$
  rustfmt: any of: ^.*\.rs$ and \.rs$
